@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Salty";
  src: url(./assets/font/salty1-regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
